.um-list-item-left{
  font-size:14px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left:5px;
}
.form-control{
  font-size:14px;
}
.um-list-item-inner{
  padding-top: 15px;
  padding-bottom: 15px;
}

.um-list-item-right img{
  display: inline-block;
  width:50px;
  height:50px;
}

.um-wgt-icon{
  width:100%;
}
.um-wgt-group-title{
  margin-bottom: -30px;
  font-size: 0.21rem;
}